@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato: sans-serif;
}

#chartContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#barChart {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
}

/* default styling */
.bar {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
  z-index: 99;
}

.barValue {
  left: 50%;
  color: white;
  z-index: 999;
}

.barLabel {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -1.5rem;
}

/* ticks */
.tick {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black;
}

.tickLabel {
  position: absolute;
  font-size: smaller;
  transform: translate(-150%, -50%);
}

/* stacked bars default x-axis */
.stackedBar {

  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}